$primaryColor: #FF0000;
$mainFont: Verdana;
$mainSize: 1.5em;

body {
  font-family: $mainFont;
  font-size: $mainSize;
  h1 {
  color: $primaryColor;
  }
}

#team-members {
  clear: both;
    .member {
      float: left;
      margin: 10px;
      padding: 6px;
        img {
          width: 200px;
          height: 200px;
        }
        div.name {
          text-align: center;
        }
    }
}
